In [14]:
#importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import matplotlib.patches as mpatches

1- Fonte do arquivo: https://www.kaggle.com/datasets/thedevastator/1-5-million-beer-reviews-from-beer-advocate

In [15]:
#lendo o arquivo
cervejas_data = pd.read_csv("C:/Users/Caroline/OneDrive/√Årea de Trabalho/Rol/projetos/cervejas/beer_reviews.csv")
cervejas_data.head()

,index,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [16]:
cervejas_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 14 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   index               1586614 non-null  int64
 1   brewery_id          1586614 non-null  int64
 2   brewery_name        1586599 non-null  object
 3   review_time         1586614 non-null  int64
 4   review_overall      1586614 non-null  float64
 5   review_aroma        1586614 non-null  float64
 6   review_appearance   1586614 non-null  float64
 7   review_profilename  1586266 non-null  object
 8   beer_style          1586614 non-null  object
 9   review_palate       1586614 non-null  float64
 10  review_taste        1586614 non-null  float64
 11  beer_name           1586614 non-null  object
 12  beer_abv            1518829 non-null  float64
 13  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(4), object(4)
memory usage: 169.5+ MB

In [17]:
cervejas_data.describe()

,index,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,7.933065e+05,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,4.580162e+05,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,0.000000e+00,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,3.966532e+05,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,7.933065e+05,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,1.189960e+06,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,1.586613e+06,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [18]:
print(cervejas_data.isnull().sum())

index                     0
brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

Limpeza inicial dos dados
Vamos remover a coluna de "review_profilename" que cont√©m o nome dos perfis que participaram da classifica√ß√£o das cervejas.
Este dado n√£o √© necess√°rio para a an√°lise e o modelo de machine learning que vamos desenvolver. Al√©m disso, √© necess√°rio limpar a coluna "brewery_name" e "beer_abv"

In [19]:
#removendo a coluna com informa√ß√µes dos perfis de usu√°rios
cervejas_data = cervejas_data.drop(columns = ["review_profilename"])
cervejas_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   index              1586614 non-null  int64
 1   brewery_id         1586614 non-null  int64
 2   brewery_name       1586599 non-null  object
 3   review_time        1586614 non-null  int64
 4   review_overall     1586614 non-null  float64
 5   review_aroma       1586614 non-null  float64
 6   review_appearance  1586614 non-null  float64
 7   beer_style         1586614 non-null  object
 8   review_palate      1586614 non-null  float64
 9   review_taste       1586614 non-null  float64
 10  beer_name          1586614 non-null  object
 11  beer_abv           1518829 non-null  float64
 12  beer_beerid        1586614 non-null  int64
dtypes: float64(6), int64(4), object(3)
memory usage: 157.4+ MB

In [20]:
#descri√ß√£o das cervejarias e contagem de cervjas por cervejaria
print(cervejas_data['brewery_name'].unique().shape)
print(cervejas_data['brewery_name'].value_counts())

(5743,)
Boston Beer Company (Samuel Adams)    39444
Dogfish Head Brewery                  33839
Stone Brewing Co.                     33066
Sierra Nevada Brewing Co.             28751
Bell's Brewery, Inc.                  25191
                                      ...
Brauerei Stolz GmbH & Co. KG              1
Hausbrauerei D√ºll                         1
Browar Gryb√≥w                             1
Staro&#269;esk√Ω Pivov√°rek Dobru¬öka        1
Spire Brewery                             1
Name: brewery_name, Length: 5742, dtype: int64

In [22]:
#descri√ß√£o dos tipos de cerveja
print(cervejas_data['beer_style'].unique().shape)
print(cervejas_data['beer_style'].value_counts())

(104,)
American IPA                        117586
American Double / Imperial IPA       85977
American Pale Ale (APA)              63469
Russian Imperial Stout               54129
American Double / Imperial Stout     50705
                                     ...
Gose                                   686
Faro                                   609
Roggenbier                             466
Kvass                                  297
Happoshu                               241
Name: beer_style, Length: 104, dtype: int64

In [23]:
#removendo os dados nulos
cervejas_data.dropna(inplace = True)

In [24]:
#chegando os dados
print(cervejas_data.isnull().sum())

index                0
brewery_id           0
brewery_name         0
review_time          0
review_overall       0
review_aroma         0
review_appearance    0
beer_style           0
review_palate        0
review_taste         0
beer_name            0
beer_abv             0
beer_beerid          0
dtype: int64

In [33]:
#Visualizando as 150 melhores cervejarias 

#pontua√ß√£o m√©dia 

med_cervejarias = cervejas_data.groupby("brewery_name").agg({'review_overall':'mean', 'beer_name':'count'}).reset_index()
med_cervejarias = med_cervejarias.rename(columns={'brewery_name': 'Cervejaria', 'review_overall':'Classifica√ß√£o' , 'beer_name': 'n¬∫ de cervejas'})
med_cervejarias = med_cervejarias.sort_values(by = 'Classifica√ß√£o', ascending = False).reset_index(drop=True)

In [34]:
top_cervejarias = med_cervejarias.head(150)
top_cervejarias.head()

,Cervejaria,Classifica√ß√£o,n¬∫ de cervejas
0,Thai Me Up,5.0,1
1,Kunino Cho,5.0,1
2,Bad W√∂rishofer Lowenbrau / Privatbrauerei Hote...,5.0,1
3,SandLot Brewery @ Coors Field,5.0,1
4,Brasserie Oxymore,5.0,1